@model IEnumerable<VET_CLINIC.Models.Visit>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Pet.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vet.VetName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VisitDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Pet.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Vet.VetName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VisitDate)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id=item.VisitID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.VisitID })
        </td>
    </tr>
}

</table>
