@model IEnumerable<VET_CLINIC.Models.PetOwner>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OwnerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Surname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone_number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email_address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Postal_Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ID_Number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccountNumber)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.OwnerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Surname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone_number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email_address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Postal_Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ID_Number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AccountNumber)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.onwer_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.onwer_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.onwer_id })
        </td>
    </tr>
}

</table>
